@charset "utf-8";

/* GCP WD_WP Team. Author : Lee Myeongjong 2018-01-26. Edit : Lee Myeongjong 2018-02-02 */
html	{overflow-x:hidden;-webkit-text-size-adjust:none;font-size:10px;}
body	{overflow-x:hidden;font-family:'나눔바른고딕', NanumBarunGothic, 'ng', '애플고딕', AppleGothic, '맑은 고딕', Malgun Gothic, '돋움', dotum, '굴림체', GulimChe, Arial, Verdana, sans-serif;}
*	{margin:0;padding:0;list-style:none;border:0;}
*:lang(ja) {font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','Osaka','ＭＳ Ｐゴシック','MS PGothic',Arial,sans-serif;}
*:lang(zh-hans), *:lang(zh-hant) {font-family:Times New Roman;}
button	{cursor:pointer;background:none;vertical-align:top;font-family:'나눔바른고딕', NanumBarunGothic, 'ng', '애플고딕', AppleGothic, '맑은 고딕', Malgun Gothic, '돋움', dotum, '굴림체', GulimChe, Arial, Verdana, sans-serif}
img	{vertical-align:top;}
a	{text-decoration:none;}
input[type="text"] {font-family:'나눔바른고딕', NanumBarunGothic, 'ng', '애플고딕', AppleGothic, '맑은 고딕', Malgun Gothic, '돋움', dotum, '굴림체', GulimChe, Arial, Verdana, sans-serif}
*:lang(ja) input[type="text"] {font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','Osaka','ＭＳ Ｐゴシック','MS PGothic',Arial,sans-serif;}
*:lang(zh-hans) input[type="text"], *:lang(zh-hant) input[type="text"] {font-family:'Times New Roman';}
.tb {width: 100%; height: 100%; display: table}
.tbc {display: table-cell; vertical-align: middle}
%bg {background: rgba(255, 255, 255, .3)}
%ab {position: absolute}
%fx {position: fixed}
.check {position: relative; line-height: 49px; color: #fff;
	&.pop, &.pop:nth-of-type(2), &.pop:nth-of-type(3),
	&.pop:nth-of-type(4) {top: 37px; left: 18px; @extend %ab;
		label {text-indent: -9999px}
		label, input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_chk2_off.png) no-repeat; background-size: contain; width: 48px; height: 48px}
		input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_chk2_on.png) no-repeat; background-size: contain; width: 48px; height: 48px}
	}
	&.pop:nth-of-type(2) {top: 129px; left: 556px}
	&.pop:nth-of-type(3) {top: 335px; left: 556px}
	&.pop:nth-of-type(4) {top: 540px; left: 556px}
	&.agree {top: 249px; @extend %ab; left: 8.7%;
		label {text-indent: -9999px;
			&:after { content: ''; @extend %ab; left: 60px;top: 50%;margin-top: -16px;width: 440px;height: 22px;background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_2_agree.png) no-repeat;}
		}
	}
	&.aos, &.ios {top: 2.8%; @extend %ab; left: 8.7%;
		label {color: transparent;
			&:after {content:''; @extend %ab; left:56px; top:50%; margin-top:-8px; width: 96px; height: 20px; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_android.png) no-repeat; background-size: contain}
		}
		label, input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_radio_off.png) no-repeat; background-size: contain; width: 46px; height: 46px}
		input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_radio_on.png) no-repeat; background-size: contain; width: 46px; height: 46px}
	}
	&.ios {left: 42%;
		label {
			&:after {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_ios.png) no-repeat}
		}
	}
	> input { border: 0; border-radius: 0; visibility: hidden; position: absolute; left: 0; top: 0; z-index: 1}
	label, input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_chk_off.png) no-repeat; top: 0; left: 0; z-index: 2; display: inline-block; position: relative; padding-left: 40px; background-size: 40px 40px; cursor: pointer}
	input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_chk_ok.png) no-repeat; background-size: 40px 40px}
}

@mixin trs($start, $ease){
	transition: all $start $ease;
	-webkit-transition: all $start $ease;
	-moz-transition: all $start $ease;
	-o-transition: all $start $ease;
}

#ui_180122 {width:100%;margin: 0 auto;position:relative;font-size:20px;line-height: 120%;text-align:center;
	.shadow_bg {@extend %fx; background: rgba(0, 0, 0, .7); top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; display: none; z-index: 30;
		&.on {display: block}
	}
	.box_wrap {position: relative; width: 640px; margin: 0 auto; height: 100%;}
	.header {@extend %fx; left:0;top:0; z-index: 50;width: 100%;height: 78px; background: rgba(0, 0, 0, .55); border-bottom: 1px solid #525457;
		.btn_gnb {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_nav_bt.png) no-repeat; background-size: auto 26px; width: 46px; height: 26px;  top: 29.4%; left: 3.7%}
		.quick_menu, .section_menu {@extend %ab; top: 17.9%; right: 24px;
			li {float: left; margin-left: 8px;
				.btn_cafe, .btn_sns_share {width: 120px; height: 50px; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_cafe.png) no-repeat; background-size: auto 50px; display: inline-block}
				.btn_sns_share {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_sns.png) no-repeat; background-size: auto 50px}
			}
		}
		.lnb {@extend %fx; width: 100%; height: 100%; top: 0; bottom: 0; background: #fff; left: -100%;
			h1 {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_gnb_logo.png) no-repeat; background-size: cover; width: 512px; height: 182px; margin: 0 auto; position: relative; top: 74px}
			.btn_lnb_close {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_close.png) no-repeat; background-size: cover; width: 36px; height: 36px; @extend %ab; top: 34px; right: 54px}
			.lnb_menu {width: 434px;  @extend %ab; height: 400px; top: 300px; left: 50%; margin-left: -217px;
				> li {width: 100%; height: 68px; position: relative;
					&::before {content: ''; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_bar.png) no-repeat; background-size: cover; width: 100%; height: 2px; @extend %ab; left: 0}
					&:first-child {
						&::before {background: none}
					}
					a {display: block; margin: 0 auto; @extend %ab; left: 0; right: 0; top: 50%; margin-top: -14px;
						&.lnb_logout {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_logout.png) no-repeat; background-size: cover; width: 104px; height: 28px}
					}
					&:first-child {
						a {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_1.png) no-repeat; background-size: cover; width: 106px; height: 28px}
					}
					&:nth-child(2) {
						a {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_2.png) no-repeat; background-size: cover; width: 102px; height: 28px}
					}
					&:nth-child(3) {
						a {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_3.png) no-repeat; background-size: cover; width: 104px; height: 28px}
					}
					&:nth-child(4) {
						a {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_4.png) no-repeat; background-size: cover; width: 104px; height: 28px}
					}
				}
			}
			.btm_area {@extend %ab; bottom: 0; width: 100%; height: 176px; background: #eaebeb;
				.btn_lnb_share {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_share.png) no-repeat; background-size: cover; width: 86px; height: 18px; display: inline-block}
				.btn_lnb_fb, .btn_lnb_tw{background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_fb.png) no-repeat; background-size: cover; width: 62px; height: 62px; display: inline-block; vertical-align: middle}
				.btn_lnb_tw {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_lnb_tw.png) no-repeat; background-size: cover; margin-left: 14px}
				.lnb_bar {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_gnb_bar.png) no-repeat; background-size: cover; width: 2px; height: 20px; display: inline-block; margin: 0 32px 0 36px}
			}
		}
	}
	.section {position: relative; z-index: 20;
		.nav {@extend %ab; left:0;top:0; z-index: 50;width: 100%;height: 75px; background: rgba(0, 0, 0, .55); border-bottom: 1px solid #525457; margin: 0 auto;
			li {display: table; height: 100%; position: relative; vertical-align: middle; width: 25%; line-height: 22px; float: left; box-sizing:border-box;
				a {color: #4c4f57; display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
				&.on {
					a {color: #fafcff; font-weight: bold}
				}
			}
		}
		&.section_1 {
			.main_bg {top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; @include trs(.5s, ease);
				&.on {opacity: 1}
				iframe {width: 100%; height: 100%}
				&:before {content:''; @extend %ab; left:0; top:0; width: 100%; height: 100%; background: rgba(0, 0, 0, .68)}
				.intro_area {position: relative; opacity: 0; @include trs(.3s, ease-in); width:80%; margin: 0 auto; padding-top: 34%;
					&.on {opacity: 1}
					img {width: 100%}
					.btn_play {@extend %ab; top: 87%;left: 42%;width: 14%;height: 13%;}
					.btn_main_parti {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_main_parti.png) no-repeat; background-size: cover; width: 354px; height: 116px; @extend %ab; top: 100%; left: 50%; margin:20px 0 0 -177px; z-index: 10}
				}
			}
		}

		&.section_2 {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_1.png) no-repeat center; width: 100%; height: 1728px; background-size: cover;
			.section2_tit {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_1_tit.png) no-repeat; background-size: contain; width: 118%; height: 38.3%; top: 0; left: 0; margin-left: -13%}
			.agree_area {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_bg_before.png) no-repeat; width: 100%; height: 704px; @extend %ab; top:39.2%; left: 0; background-size: 100% 100%;
				.app_down {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_bg_google.png) no-repeat; background-size: contain; width: 92.2%; height: 305px; @extend %ab; top:64%; left: 50%; margin-left:-46.1%;
					&.ios {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_bg_apple.png) no-repeat; background-size: contain}
					.btn_google, .btn_ios {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_google.png) no-repeat; background-size: contain; width: 33.5%; height: 64px; @extend %ab; margin-top: 15%; top: 0; left: 50%; margin-left: -16.7%}
					.btn_ios {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_ios.png) no-repeat; width: 301px; height: 89px; left: 46.3%}
				}
				.btn_invite {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_btn_reser.png) no-repeat; background-size: contain; width: 470px; height: 140px; @extend %ab; top: 43.1%; left: 50%; z-index: 1; margin-left: -235px}
				.btn_stone_g {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_google_btn.png) no-repeat; width: 295px; height: 461px; @extend %ab; top: 0; right: 0}
				.input_basic {width: 82.5%; height: 68px; @extend %ab; top: 23.7%; left: 8.7%;}
				.phone_tit {@extend %ab; top: 17.6%; left: 8.7%; cursor: pointer;
					img {width: 160px; height: 22px}
				}
			}
			.agree_notice {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_1_notice.png) no-repeat; background-size: contain; width: 100%; height: 264px; @extend %ab; top: 80.3%; left: 50%; margin-left: -50%}
		}
		&.section_3 {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_2.png) no-repeat center; width: 100%; height: 2214px; background-size: cover;
			.section3_tit {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_2_tit.png) no-repeat; background-size: cover; width: 608px; height: 750px; @extend %ab; top: 4%; left: 50%; margin-left: -304px}
			.atk_txt {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_2_txt.png) no-repeat; background-size: cover; width: 436px; height: 86px; @extend %ab; top: 34%; left: 50%; margin-left: -218px}
			.atk_notice {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_2_notice.png) no-repeat; background-size: cover; width: 576px; height: 96px; @extend %ab; top: 91.8%; left: 50%; margin-left: -308px}
			.playable {@extend %ab; top: 39.1%; left: 50%; margin-left: -50%; height: 1140px;
				video {width: 100%; height: 1140px}
				&::after {content:attr(data-content); @extend %ab; color: #fff; font-size: 24px; top:0; width: 100%; height: 1140px; display: flex; display: -webkit-flex; justify-content: center; -webkit-justify-content: center; align-items: center; -webkit-align-items: center}
				&.active::after {background: none}
				.first_guide, .second_guide, .third_guide,
				.four_guide, .five_guide, .six_guide,
				.seven_guide, .eight_guide, .nine_guide,
				.second2_guide {@extend %ab; color: #fff; font-size: 30px; top:0; width: 100%; height: 1140px; display: none; z-index: 30;
					strong {color: #ffff00; font-weight: normal}
				}
				.first_guide:lang(ko){background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_play_1.png) no-repeat; background-size: cover}
				.nine_guide:lang(ko){background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_play_2.png) no-repeat; background-size: cover}
				.third_guide {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/bg_playable_1.png) no-repeat; background-size: cover}
				.five_guide {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/bg_playable_2.png) no-repeat; background-size: cover}
				.eight_guide {
					.cloud_1 {
						&::after {top: 274px; right: 33%; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg)}
					}
				}
				.cloud_1 {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/bg_play_cloud.png) no-repeat; background-size: contain; width: 100%; height: 176px; margin-left: -48%; @extend %ab; top: 9.5%; left: 50%; z-index: 10; color: #fff; font-size: 20px; text-align: left; line-height: 26px;
					p {@extend %ab;  left: 152px;top: 30px;width: 444px;height: 101px;display: table;}
					&::after {content: ''; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_finger_off.png) no-repeat; background-size: cover; @extend %ab; top: 25%;display: block;width: 50px;height: 80px;right: 6%; animation: fadeEffect 1s infinite; -webkit-animation: fadeEffect 1s infinite}
				}
			}
			.btn_start {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_btn_start.png) no-repeat; background-size: cover; width: 430px; height: 100px; top: 27.6%; @extend %ab; left: 50%; margin-left: -215px}
		}
		&.section_4 {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_3.png) no-repeat center 0; width: 100%; height: 1913px; background-size: cover;
			.section4_tit {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_3_tit.png) no-repeat; background-size: cover; width: 710px; height: 770px; @extend %ab; top: 5.7%; left: 50%; margin-left: -355px}
			.parti_quick {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_3_reser.png) no-repeat; background-size: cover; width: 460px; height: 264px; background-size: cover; @extend %ab; top: 44%; left: 50%; margin-left: -230px}
			.btn_friend, .my_before_num {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_btn_invite.png) no-repeat; background-size: contain; width: 624px; height: 126px; @extend %ab; left: 50%; margin-left: -312px; top: 60%}
			.my_before_num {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_invite_num.png) no-repeat; background-size: contain; font-size: 24px;
				.tb {@extend %ab; width: 50%; right: 0}
			}
			.parti_friend {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_3_invite.png) no-repeat; background-size: cover; width: 700px; height: 300px; @extend %ab; top: 69.6%; margin-left: -350px; left: 50%;
				.friend_num {@extend %ab;  left: 63%;height: 23%;width: 12.5%;font-size: 30px;color: #2d1265;
					strong {vertical-align: middle; display: table-cell}
				}
				.friend_url {@extend %ab; font-size: 28px; color: #d0d6db; line-height: 32px; top: 56.5%; left: 5.2%; width: 69%; text-align: left}
				.btn_copy {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_btn_copy.png) no-repeat; background-size: cover; width: 174px; height: 134px; @extend %ab; top: 38.6%; right: 7.1%}
			}
			.parti_notice {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_3_notice.png) no-repeat; background-size: cover; width: 590px; height: 120px; @extend %ab; top:86.7%; left: 50%; margin-left: -295px}
		}
		&.section_5 {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_4.png) no-repeat center; background-size: cover; width: 100%; height: 1255px; background-size: cover;
			.section5_tit {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_ko_4_tit.png) no-repeat; background-size: cover; width: 544px; height: 172px; @extend %ab; top: 8.6%; left: 50%; margin-left: -272px}
			.swiper-container {@extend %ab; width: 640px; top: 23.2%;
				.swiper-slide {background-size: cover;width: 458px;height: 762px;
					&:after {content: ''; background: rgba(0, 0, 0, .5); @extend %ab; width: 458px; height: 708px; left: 0; top: 30px}
					&.first {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_video_1.png) no-repeat 0 0; background-size: cover}
					&.second {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_video_1.png) no-repeat 0 0; background-size: cover}
					&.third {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_video_1.png) no-repeat 0 0; background-size: cover}
					&.swiper-slide-active {height: 834px;
						&:after {background: none}
					}
				}
			}
			.swiper-pagination {top: 91.6%; left: 50%; margin-left: -70px;
				.swiper-pagination-bullet {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_s_off.png) no-repeat; background-size: cover; width: 30px; height: 30px; margin-left: 25px; opacity: 1;
					&:nth-of-type(1) {margin-left: 0}
				}
				.swiper-pagination-bullet-active {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_s_on.png) no-repeat; background-size: cover; width: 30px; height: 30px}
			}
		}
		&.section_6 {background:#000; width: 100%; height: 150px; bottom: 0;
			&::after {content: ''; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/img_foot.png) no-repeat; background-size: cover; @extend %ab; margin-top: -30.5px; top: 50%; right: 6.75%; display: block; width: 436px; height: 61px}
		}
	}
}

.pop_wrap	{width:100%;min-height:100%;z-index:1000;position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.7);
	.pop_layer	{width:610px;height:200px;position:absolute;top:50%;left:50%;z-index:1000;margin:-100px 0 0 -305px;border-radius:14px;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.4);box-shadow:5px 5px 10px rgba(0,0,0,0.4);background-color:#fff;}
	.pop_before {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_pop_login.png) no-repeat; background-size: cover; width: 620px; height: 656px; @extend %ab; top:50%;left:50%;z-index:1000;margin:-328px 0 0 -310px;
		.input_basic {@extend %ab;  top: 45%;height: 81px;left: 12%;width: 482px}
		input[type="text"]::-webkit-input-placeholder {color: #9581ab}
		input[type="text"]::-moz-placeholder {color: #9581ab}
		.btn_before_ok {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_pop_reser.png) no-repeat; background-size: cover; width: 488px; height: 85px; @extend %ab; top: 59.1%; left: 70px}
		.btn_parti_bf {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_pop_before.png) no-repeat; background-size: cover; width: 240px; height: 72px; @extend %ab; top:78%; left: 51.6%}
		.btn_close	{right: 12px; top: 8px; background: none}
	}
	.pop_before_ok {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_pop_before.png) no-repeat; background-size: cover; width: 620px; height: 304px; @extend %ab; top:50%;left:50%;z-index:1000;margin:-152px 0 0 -310px;
		.btn_close	{right: 8px; top: 2px; background: none}
	}
	.pop_sns {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_pop_sns.png) no-repeat; background-size: cover; width: 620px; height: 304px; @extend %ab; top:50%;left:50%;z-index:1000;margin:-152px 0 0 -310px;
		.btn_pop_fb, .btn_pop_tw {@extend %ab; top: 32%; left: 27.5%;width: 148px;height: 145px}
		.btn_pop_tw {left: 51.5% }
		.btn_close	{right: 12px; top: 2px; background: none}
	}
	.pop_agree {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_pop_agree.png) no-repeat; background-size: cover; width: 622px; height: 850px; @extend %ab; top:50%;left:50%;z-index:1000;margin:-425px 0 0 -311px;
		.agree_1, .agree_2, .agree_3 {@extend %ab; color: #2b2b2b;font-size: 20px;top: 189px;left: 16px;width: 590px;height: 131px; line-height: 22px;
			span {margin: 25px; display: block; height: 81px; overflow-y: auto}
		}
		.agree_2 {top:394px}
		.agree_3 {top:602px}
		.btn_agree_no, .btn_pop_agree {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_agree_no.png) no-repeat; background-size: cover; width: 198px; height: 57px; @extend %ab; top:753px; left: 104px}
		.btn_pop_agree {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_pop_agree.png) no-repeat; background-size: cover; left: 314px}
		.btn_close	{right: 20px; top: 10px; background: none}
	}
	.pop_note	{width:100%;height:100%;display:table;
		> span {height:100%;display:table-cell;padding:0 5%;font-size:2.6rem;line-height:115%;color:#000;text-align:center;vertical-align:middle;}
	}
	.pop_land {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_land.png) no-repeat; background-size: 278px 178px; width: 278px; height: 178px; @extend %ab; top:50%;left:50%;z-index:1000;margin:-89px 0 0 -139px}
	.btn_close	{width:64px;height:64px;display:block;position:absolute;top:0;right:0;overflow:hidden;text-indent:-999px;cursor:pointer;background:url('http://image-glb.qpyou.cn/markup/img/2015/00/btn_close.png') no-repeat 50% 50%;background-size:36px 36px;}
	&#pop_landscape {display: none}
}

/* input Style*/
.input_basic {background: #fff; color: #000; text-align: center; font-size: 24px; box-sizing: border-box; -webkit-box-sizing: border-box}
input[type="text"]::-webkit-input-placeholder {color: #767370}
input[type="text"]::-moz-placeholder {color: #767370}

/* Low iOS */
.IIV::-webkit-media-controls-play-button, .IIV::-webkit-media-controls-start-playback-button {opacity: 0;pointer-events: none;width: 5px}

/* animate Style */
@-webkit-keyframes fadeOn {
	0%	{opacity:0;}
	100%	{opacity:1;}
}
@keyframes fadeOn {
	0%	{opacity:0;}
	100%	{opacity:1;}
}
@-webkit-keyframes fadeEffect {
	0%	{opacity:1;}
	50%	{opacity:0;}
	100%	{opacity:1;}
}
@keyframes fadeEffect {
	0%	{opacity:1;}
	50%	{opacity:0;}
	100%	{opacity:1;}
}

@media all and (max-width: 768px){
	#ui_180122 {
		.section {
			&.section_2 {width: 100%; height: 1728px; background-size: cover;
				.section2_tit {width: 118%; margin-left: -13%}
			}
		}
	}
}

@media all and (max-width: 767px){
	.check {
		&.pop, &.pop:nth-of-type(2), &.pop:nth-of-type(3),
		&.pop:nth-of-type(4) {top: 19px; left: 9px;
			label, input:checked + label {width: 24px; height: 24px}
			input:checked + label {width: 24px; height: 24px}
		}
		&.pop:nth-of-type(2) {top: 65px; left: 278px}
		&.pop:nth-of-type(3) {top: 168px; left: 278px}
		&.pop:nth-of-type(4) {top: 270px; left: 278px}
		&.agree {top: 125px;
			label {
				&:after {left: 30px;margin-top: -20px;width: 220px;height: 11px; background-size: contain}
			}
		}
		&.aos, &.ios {top: 1.4%; left: 8.7%;
			label {color: transparent;
				&:after {left:42px; margin-top:-4px; width: 48px; height: 10px; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_android.png) no-repeat; background-size: contain}
			}
			label, input:checked + label {width: 32px; height: 32px}
			input:checked + label {width: 32px; height: 32px}
		}
		&.ios {left: 42%;
			label {
				&:after {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_ios.png) no-repeat; background-size: contain}
			}
		}
		> input { border: 0; border-radius: 0; visibility: hidden; position: absolute; left: 0; top: 0; z-index: 1}
		label, input:checked + label {padding-left: 20px; background-size: 20px 20px}
		input:checked + label {background-size: 20px 20px}
	}
	#ui_180122 {
		.box_wrap {width: 100%}
		.header {left:0;top:0; z-index: 50;width: 100%;height: 39px; background: rgba(0, 0, 0, .55); border-bottom: 1px solid #525457;
			.btn_gnb {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/m_nav_bt.png) no-repeat; background-size: auto 13px; width: 23px; height: 13px;  top: 29.4%; left: 3.7%}
			.quick_menu, .section_menu {top: 17.9%; right: 12px;
				li {float: left; margin-left: 4px;
					.btn_cafe, .btn_sns_share {width: 60px; height: 25px; background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_cafe.png) no-repeat; background-size: auto 25px; display: inline-block}
					.btn_sns_share {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ico_sns.png) no-repeat; background-size: auto 25px}
				}
			}
			.lnb {
				h1 {width: 256px; height: 91px; top: 37px}
				.btn_lnb_close {width: 18px; height: 18px; top: 17px; right: 27px}
				.lnb_menu {width: 217px; height: 200px; top: 150px; margin-left: -109px;
					> li {height: 34px;
						&::before {height: 1px; left: 0}

						a {margin-top: -7px;
							&.lnb_logout {width: 52px; height: 14px}
						}
						&:first-child {
							a {width: 53px; height: 14px}
						}
						&:nth-child(2) {
							a {width: 51px; height: 14px}
						}
						&:nth-child(3) {
							a {width: 52px; height: 14px}
						}
						&:nth-child(4) {
							a {width: 52px; height: 14px}
						}
					}
				}
				.btm_area {height: 88px;
					.btn_lnb_share {width: 43px; height: 9px}
					.btn_lnb_fb, .btn_lnb_tw{width: 31px; height: 31px}
					.btn_lnb_tw {margin-left: 7px}
					.lnb_bar {width: 1px; height: 10px; margin: 0 16px 0 18px}
				}
			}
		}
		.section {
			.nav {font-size: 12px; height:38px}
			&.section_1 {
				.main_bg {
					.intro_area {
						.btn_main_parti {width: 177px; height: 58px; margin:10px 0 0 -89px}
					}
				}
			}
			&.section_2 {width: 100%; height: 864px; background-size: cover;
				.section2_tit {margin-left: -4%}
				.agree_area {height: 352px;
					.app_down {height: 153px; top: 60%;
						.btn_google, .btn_ios {width: 107px; height: 32px; margin-left: -53.5px}
						.btn_ios {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/btn_ios.png) no-repeat; width: 301px; height: 89px; left: 46.3%}
					}
					.btn_invite {width: 235px; height: 70px; margin-left: -117.5px; top: 41%}
					.btn_stone_g {background: url(http://image-glb.qpyou.cn/markup/img/2018/01/cs_update2018/ko_google_btn.png) no-repeat; width: 295px; height: 461px; top: 0; right: 0}
					.input_basic {height: 34px; font-size: 12px}
					.phone_tit {top: 17.6%; left: 8.7%; cursor: pointer;
						img {width: 80px; height: 11px}
					}
				}
				.agree_notice {height: 132px; top: 80.3%; left: 4%; margin: 0}
			}
			&.section_3 {width: 100%; height: 1107px; background-size: cover;
				.section3_tit {width: 304px; height: 375px; margin-left: -152px}
				.atk_txt {width: 218px; height: 43px; margin-left: -109px}
				.atk_notice {width: 288px; height: 48px; margin-left: -144px}
				.playable {margin-left: -160px; width: 320px; height: 570px;
					video {width: 100%; height: 570px}
					&::after {content:attr(data-content); color: #fff; font-size: 12px; top:0; width: 100%; height: 570px}
					.first_guide, .second_guide, .third_guide,
					.four_guide, .five_guide, .six_guide,
					.seven_guide, .eight_guide, .nine_guide,
					.second2_guide {font-size: 15px; height: 570px}
					.eight_guide {
						.cloud_1 {
							&::after {top: 137px}
						}
					}
					.cloud_1 {width: 100%; height: 88px; font-size: 10px; line-height: 13px;
						p {left: 76px;top: 15px;width: 222px;height: 52px}
						&::after {width: 25px;height: 40px; right: 6%}
					}
				}
				.btn_start {width: 215px; height: 50px; margin-left: -107.5px}
			}
			&.section_4 {width: 100%; height: 957px; background-size: cover;
				.section4_tit {background-size: cover; width: 355px; height: 385px; top: 5.7%; left: 50%; margin-left: -178px}
				.parti_quick {width: 230px; height: 132px; background-size: cover; top: 44%; left: 50%; margin-left: -115px}
				.btn_friend, .my_before_num {width: 312px; height: 63px; margin-left: -156px}
				.my_before_num {font-size: 12px;
					.tb {width: 50%; right: 0}
				}
				.parti_friend {width: 350px; height: 150px; margin-left: -175px;
					.friend_num {font-size: 15px}
					.friend_url {font-size: 14px; line-height: 16px}
					.btn_copy {width: 87px; height: 67px}
				}
				.parti_notice {width: 295px; height: 60px; margin-left: -148px}
			}
			&.section_5 {width: 100%; height: 628px; background-size: cover;
				.section5_tit {width: 272px; height: 86px; top: 8.6%; left: 50%; margin-left: -136px}
				.swiper-container {width: 320px; left: 50%; margin-left: -160px;
					.swiper-slide {width: 229px;height: 381px;
						&:after {width: 229px; height: 354px; top: 15px;}
						&.swiper-slide-active {height: 417px}
					}
				}
				.swiper-pagination {margin-left: -35px;
					.swiper-pagination-bullet {width: 15px; height: 15px; margin-left: 13px}
					.swiper-pagination-bullet-active {width: 15px; height: 15px}
				}
			}
			&.section_6 {background:#000; width: 100%; height: 75px; bottom: 0;
				&::after {margin-top: -15.25px; width: 218px; height: 31px}
			}
		}
	}
	.pop_wrap {
		.pop_before {width: 310px; height: 328px; margin:-164px 0 0 -155px;
			.input_basic {height: 41px;width: 241px; font-size: 12px}
			.btn_before_ok {width: 244px; height: 43px;  left: 35px}
			.btn_parti_bf {width: 120px; height: 36px}
			.btn_close	{right: 6px; top: 4px; background: none; width: 32px; height: 32px}
		}
		.pop_before_ok {width: 310px; height: 152px; margin:-76px 0 0 -155px;
			.btn_close	{right: 4px; top: 2px; width: 32px; height: 32px}
		}
		.pop_sns {width: 310px; height: 152px; margin:-76px 0 0 -155px;
			.btn_pop_fb, .btn_pop_tw {width: 74px;height: 73px;}
			.btn_close	{right: 6px; top: 2px; width: 32px; height: 32px}
		}
		.pop_agree {width: 311px; height: 425px; margin:-213px 0 0 -156px;
			.agree_1, .agree_2, .agree_3 { font-size: 10px;top: 95px;left: 8px;width: 295px;height: 66px; line-height: 11px;
				span {margin: 13px; height: 41px}
			}
			.agree_2 {top:197px}
			.agree_3 {top:301px}
			.btn_agree_no, .btn_pop_agree {width: 99px; height: 29px;  top:377px; left: 52px}
			.btn_pop_agree {left: 157px}
			.btn_close	{right: 6px; top: 4px; width: 32px; height: 32px}
		}
		.pop_layer	{width:305px;height:100px;position:absolute;top:50%;left:50%;z-index:1000;margin:-100px 0 0 -153px;border-radius:7px;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.4);box-shadow:5px 5px 10px rgba(0,0,0,0.4);background-color:#fff;}
		.pop_note	{width:100%;height:100%;display:table;
			> span {height:100%;display:table-cell;padding:0 5%;font-size:13px;line-height:115%;color:#000;text-align:center;vertical-align:middle;}
		}
		.btn_close	{width:32px;height:32px;display:block;position:absolute;top:0;right:0;overflow:hidden;text-indent:-999px;cursor:pointer;background:url('http://image-glb.qpyou.cn/markup/img/2015/00/btn_close.png') no-repeat 50% 50%;background-size:18px 18px;}
		&#pop_landscape {display: none}
		.pop_land {background-size: 139px 89px; width: 139px; height: 89px; margin:-45px 0 0 -66px}
	}


}

@media all and (max-width: 320px){
	.check {
		&.agree {left: 2%}
		&.aos, &.ios {left: 2%}
		&.ios {left: 38%}
	}
	#ui_180122 {
		.box_wrap {width: 100%}
		.section {
			&.section_2 {
				.section2_tit {margin-left: -13%}
				.agree_area {
					.app_down {top: 64%; width: 100%; margin-left: -50%}
					.btn_invite {top: 43.1%}
					.input_basic {width: 96%; left: 2%;}
					.phone_tit {left: 2%}
				}
				.agree_notice {width: 92%}
			}
		}
	}
}

@media all and (min-width: 321px){
	#ui_180122 {
		.section {
			&.section_1 {
				.main_bg {
					.intro_area {padding-top: 40%}
				}
			}
		}
	}
}

@media all and (orientation:landscape) {
	.pop_wrap {
		&#pop_landscape {display: block}
	}
}