/* xhtml css */
* { margin:0px auto; }
li,ul { padding:0px; }
img { border:none; }
body { font-family:굴림; font-size:0.75em; color:#555; }

/* css */
#wrapper { width:100%; }
	/* main_page */
	#main_page { width:1000px; height:540px; }
		#menu_top { width:1000px; height:60px; }
		#main_menu { width:1000px; height:72px; }
		#con_body { width:1000px; height:275px; padding-top:1px; }
			#left_banner { float:left; width:240px; height:275px; background:url("../image/left_banner_bg.jpg"); }
			#main_flash { float:left; width:565px; height:275px; }
			#right_banner { float:left; width:195px; height:275px; }
		#main_content { clear:both; width:1000px; height:130px; }
			#login { float:left; width:310px; height:130px; }
				#login_title { width:310px; height:35px; }
				#login_con { width:310px; height:95px; }
			#board { float:left; width:320px; height:130px; }
				#board_title { width:320px; height:35px; }
				#login_con { width:370px; height:95px; }
			#gallery { float:left; width:370px; height:130px; }
				#gallery_title { width:370px; height:35px; }
				#login_con { width:270px; height:95px; }
	#copyright { width:1000px; height:50px; }
	
	/* sub_page */
	#sub_page { width:1000px;}
		#sub_con { width:1000px; float:left; }
			#sub_visual_area { width:1000px; height:170px; }
			#sub_m_area { float:left; width:178px; height:452px; }
			#content_area { float:left; width:822px;  }
				#con_top { width:822px; background:url("../image/sub_title_bg2.jpg"); height:75px; float:left; }
				#con_bodys { float:left; width:772px; padding:0px 0px 20px 0px; }
	#copyright2 { clear:both; width:100%; height:55px; background:url("../image/copy_bg.jpg"); }

/* class */
.c { cursor:pointer; }
.copy_style { text-align:center; width:1000px; }
.font { font-size:1em; font-family:나눔고딕; }
.font_h { padding:4px 0px 2px 4px; }

/* Input Style */
.input00 { height:17px; font-family:돋움; font-size:1em; color:#555; border:1px solid #cdcdcd; width:136px; }


/* Table Style */
.table00_td { border-top:1px solid #b1db7f; border-bottom:1px solid #b1db7f; border-right:1px solid #b1db7f; padding:6px; font-size:1em; color:#4aa301; text-align:left; }
.table00_td2 { border-bottom:1px solid #b1db7f; border-right:1px solid #b1db7f; padding:6px; font-size:1em; text-align:left; }