@charset "utf-8";
@import "reset.css";

/* Defalut Style */
body { margin: 0 auto; width:1050px; height:100% }
img,fieldset { border:0 none }
a:hover { text-decoration: none; color:#000 }
a:link { text-decoration: none; color:#ccc }

/* Layout Style */
#wrap { width:1050px; font-family:Dotum; line-height: 18px; color: #777 }
#header { width:1050px; height:120px }
#container { width: 1050px; height: 1500px }
#footer { background: url(../images/main_page/footer/foot_bg.jpg) no-repeat; width:1050px; height:126px; font:9pt Gulim; color:#939393 }

/* Header Style */
#header h1 { width:255px; height:74px; position: absolute }
#header .navigation { height:45px; font:10pt Arial }
#header .navigation p { float:right;  position: relative; top:20px; right:25px }
#header .navigation a { float:left }
#header .navigation a.txt { text-decoration: none; color:#939393; padding-right:15px }
:root #header .navigation span { margin-top:-4px\9; float: left }

#header .gnb { background:url(../images/main_page/header/gnb_bg.jpg) no-repeat; width:795px; height:74px; position: relative; left:255px }
#header .gnb ul { position:relative; top:27px;  float:left }
#header .gnb li { float: left; margin-right:1px }
#header .gnb h3 { background:url(../images/main_page/header/search_box.jpg); width:172px; height:29px; position: absolute; top:20px; left:597px; float:left }
#header .gnb h3 input[type="text"] { position:relative; top:3px; left:1px; border: 0px none; width:145px }
#header .gnb h3 input[type="image"] { position:relative; right:-150px; top:-18px }
@media screen and (-webkit-min-device-pixel-ratio:0) {
#header .gnb h3 input[type="image"] { position:relative; right:-150px; top:-22px }
}

/* Container Style */
#container h2 { width:1050px; height:582px }
#container .new_contents { width: 1050px; height:580px }
#container .new_contents h2 { width: 1050px; height:43px }
#container .new_contents #new_area { width: 1050px; height:537px }
#container .new_contents #new_area #new_books { width: 735px; height:537px; float:left }
#container .new_contents #new_area #new_books h3 { position: relative; left:25px; top:30px }
#container .new_contents #new_area #new_books span { position: relative; left:657px; top:14px }
#container .new_contents #new_area #new_books ul { position: relative; left:25px; top:35px; letter-spacing: -1px; font-size:10pt }
#container .new_contents #new_area #new_books ul li { float:left; margin-left: 20px }
#container .new_contents #new_area #new_books ul li:first-child { float:left; margin-left:0px }
#container .new_contents #new_area #new_books ul li strong { color: #333; font-size: 11pt; position: relative; top:15px }
#container .new_contents #new_area #new_books ul li p { position: relative; top:15px }
#container .new_contents #new_area #new_books ul li p.txt { position: relative; top:22px }
#container .new_contents #new_area #new_books ul li p.txt2 { position: relative; top:29px; font-size:8pt; color:#a9a9a9 }

#container .new_contents #new_area #aside { width: 315px; height:537px; float:left; font-size:9pt }
#container .new_contents #new_area #aside a { color: #777 }
#container .new_contents #new_area #aside a:hover { color: #000 }
#container .new_contents #new_area #aside h3.notice { margin-top:31px; float:left }
#container .new_contents #new_area #aside h3.press { float:left }
#container .new_contents #new_area #aside ul { width:235px; height:87px; float: left; margin:28px 0 0 19px }
#container .new_contents #new_area #aside ul.press_ul { width:235px; height:87px; float: left; margin:0px 0 0 19px }
#container .new_contents #new_area #aside ul li { background: url(../images/main_page/container/list_li_img) no-repeat 0px 5px; margin-bottom:10px }
#container .new_contents #new_area #aside .line { width:316px; border-top:1px solid #d0d0d0; margin:22px 0 22px 0; float:left }
#container .new_contents #new_area #aside h4 { width:290px; height:108px; float: left; margin:25px 0 0 0 }
#container .new_contents #new_area #aside h4:last-child { width:290px; height:108px; float: left; margin:20px 0 0 0 }

#container .culture_contents { width:1050px; height:340px }
#container .culture_contents h2 { width: 1050px; height:57px }
#container .culture_contents h3 { width: 210px; height:14px }
#container .culture_contents h3 a.left { margin-right: 13px }
#container .culture_contents h3.interview { width: 290px; height:14px }
#container .culture_contents div.list { width: 210px; float: left; font-size: 9pt; margin:28px 0 0 25px }
#container .culture_contents div.list2 { width: 210px; float: left; font-size: 9pt; margin:28px 0 0 20px }
#container .culture_contents div.list3 { width: 290px; float: left; font-size: 9pt; margin:28px 0 0 40px }
#container .culture_contents dl dt { margin:18px 0 18px 0 }
#container .culture_contents dl dt.title { margin:18px 17px 0px 0; float:left }
#container .culture_contents dl dd.con { margin-top:10px }
#container .culture_contents dl dd.date { margin-top:4px; font: 8pt Arial; color:#a9a9a9 }

/* Footer Style */
#footer ul {  margin:28px 0 0 20px; float:left; height:50px }
#footer ul li { border-right: 1px solid #939393; float:left; padding:0 10px 0 10px }
#footer ul li.line { border:0 none; float:left }
#footer ul li:last-child { border:0 none; float:left }
#footer a { font:9pt Gulim; color:#939393 }
#footer p { font:8pt Gulim; clear:both; margin:0px 0 0 30px }
#footer p.copy { margin:10px 0 0 27px }
