@charset "euc-kr";
/* INTEC Into English Instruction (http://125.249.160.133/~abc/intec) LMJ 091002 */

/* All Style */
* { margin:0px auto; padding:0px; }
body { font-family:돋움; color:#777; font-size:0.75em; background:url(../images/bg_2.jpg) repeat-x; }
img { border:0px; }
li, ul { list-style:none; }
a { text-decoration:none; color:#777; }


/* Layout Style */
#wrapper { width:100%; }
	#main_page { width:900px; }
		#main_body { width:900px; height:385px; }
			#main_login_area { background:url(../images/login_area.jpg) no-repeat; width:227px; height:133px; float:left; }
				#main_login_style { margin:43px 0 0 4px; }
			#main_notice_area { background:url(../images/notice_bg.jpg) no-repeat; width:439px; height:198px; float:left; margin-left:3px; }
				#notice_style { margin:51px 0 0 21px; }
					#notice_style a:hover { color:#000; }
			#element_area { background:url(../images/elementary_img.jpg) no-repeat; width:227px; height:126px; float:left; margin-left:3px; }
			#middle_area { background:url(../images/middle_img.jpg) no-repeat; width:227px; height:126px; float:left; margin-left:3px; margin-top:3px; }
			#q_a_area { background:url(../images/q_n_img.jpg) no-repeat; width:227px; height:187px; float:left; margin:-122px 0 0 0; }
				#q_a_style { margin:55px 0 0 9px; }
					#q_a_style a:hover { color:#000; }
			#video_list_area { background:url(../images/video_bg.jpg) no-repeat; width:439px; height:184px; float:left; margin:-56px 0 0 3px; }
				#video_list_style { margin:49px 0 0 19px; }
					#video_list_style a:hover { color:#000; }
			#univer_area { background:url(../images/univer_img.jpg) no-repeat; width:227px; height:126px; float:left; margin-left:3px; margin-top:2px; }
			#main_banner { background:url(../images/main_banner.jpg) no-repeat; width:227px; height:65px; float:left; margin-top:-66px; }
		#main_copy { background:url(../images/copy.jpg) no-repeat; width:666px; height:97px; float:left; margin-top:8px; }
	#sub_page { width:900px; }
		#sub_top { width:900px; height:134px; }
		#top_navi { float:right; margin-right:4px; }
		#main_menu_view { width:900px; height:35px; clear:both; }
		#main_search_area { width:900px; height:33px; }
			#search_img { background:url(../images/main_search_title.jpg) no-repeat; width:51px; height:33px; float:right; margin-right:206px; }
		#sub_body { width:900px; }
			#sub_menu_area { width:226px; height:181px; float:left; }
				#sub_menu_top { background:url(../images/sub_menu_top.jpg) no-repeat; width:226px; height:32px; margin-bottom:4px; }
				#sub_banner { width:226px; height:95px; margin-top:4px; }
				#sub_title_area { background:url(../images/sub_title_bg.jpg) no-repeat; width:666px; height:30px; float:left; margin:2px 0 0 4px; }
				#title_style { font-size:1.2em; font-weight:bold; color:#fff; padding:7px 0 0 6px; }
			#sub_con { width:666px; background:#fff repeat-y; margin:11px 0 0px 0; float:left; }
				#con_style { margin:10px 0 0 7px; width:650px; }
			#print_area { width:650px; border-top:1px dotted #888; margin:20px 0 20px 6px; clear:both; }
	#sub_copy { background:url(../images/copy.jpg) no-repeat; width:666px; height:97px; clear:both; float:left; margin:20px 0 0 0; }


/* Search Style */
.search_area { background:url(../images/search_bg.jpg) no-repeat; width:610px; height:37px; }
.main_search_input { background:url(../images/search_input.jpg) no-repeat; width:140px; height:19px; border:0px; font-size:0.9em; font-family:돋움; color:#777; }
.main_search_bt { background:url(../images/search_bt.jpg) no-repeat; width:55px; height:19px; border:0px; cursor:pointer; }
.search_style { margin:5px 0px 30px 176px; float:left; width:456px; height:26px; }
.search_bt { background:url(../images/search_bt2.jpg) no-repeat; width:60px; height:25px; border:0px; }
.search_mu { font-weight:bold; }
.search_address { color:#0084cf; }
.search_sub { font-weight:bold; }


/* Login Style */
.login_area { background:url(../images/login_box.jpg) no-repeat; width:319px; height:136px; }
.login_bt { background:url(../images/login_bt.jpg) no-repeat; width:67px; height:52px; border:0px; cursor:pointer; }
.logout_bt { background:url(../images/logout_bt.jpg) no-repeat; width:67px; height:52px; border:0px; cursor:pointer; }


/* Input Style */
.input00 { border:1px solid #bbb; height:23px; background:#fff; }