@charset "utf-8";
@import "reset.css";

/* Default Style */
body { width:100%; background: url(../images/main_bg.jpg) repeat-x; height:1194px; font: 9pt Dotum; line-height: 17px;  }
img { border: 0 none; }
a { text-decoration: none; color:#777777; }
a:hover { text-decoration: none; color:#000; }
.c { cursor: pointer; }

/* Layout Style */
#wrap { width:1600px; margin: 0 auto; }
#header { width:1081px; height:84px; margin:0 auto; background: url(../images/header/gnb_bg.jpg) no-repeat; float: left; margin-left:15%;  }
#container { width:1600px; height:557px; clear: both; margin: 0 auto; }
#contents { width:1080px; height:391px; margin: 0 auto; } 
*:first-child+html #contents { width:1080px; height:391px; margin: 0 auto; } 
#footer { background:url(../images/footer/copy_bg.jpg) no-repeat; width:1080px; height:163px; margin: 0 auto; }
*:first-child+html #footer { background:url(../images/footer/copy_bg.jpg) no-repeat; width:1080px; height:163px; margin: 0 auto; } 

/* Header Style */
#header h1 { width: 190px; height:84px; float: left; }
#header ul { width:891px; height:84px; float: left; margin-top: 36px; }
#header ul li { float: left; margin-right: 1px; }

/* Contents Style */
#contents dl { float: left; }
#contents dd { margin-top: -5px; }

#contents dl.bottom { margin-top: 40px; }
#contents dl.bottom dt.customer { background: url(../images/contents/customer_bg.jpg) no-repeat; width:370px; height:223px; }
#contents dl.bottom dt.customer a { margin:158px 0 0 122px; position: absolute; }

#contents dl.online { background: url(../images/contents/online_bg.jpg) no-repeat; width:381px; height:223px; margin-top: 40px; }
#contents dl.online dt { margin:40px 0 0 277px; }
#contents dl.online dd { letter-spacing: -1px; }
#contents dl.online dd a:hover { font-weight: bold; color: #777; }
#contents dl.online dd ul { margin:25px 0 0 95px; line-height: 20px; }

#contents dl.gallery { background: url(../images/contents/gallery_bg.jpg) no-repeat; width:329px; height:223px; margin-top: 40px; }
#contents dl.gallery dt { margin:40px 0 0 277px; }
#contents dl.gallery dd a:hover { color: #777; }
#contents dl.gallery dd ul { margin-top:25px; }
#contents dl.gallery dd ul li { float: left; padding-left: 17px; width:94px; height:69px; letter-spacing: -1px; }
#contents dl.gallery dd ul li:first-child { float: left; padding-left: 0px;  }
#contents dl.gallery dd ul li span.gal_title { font-size: 9pt; margin-top:5px; float: left; font-weight: bold; }
#contents dl.gallery dd ul li span.date { font-size: 9pt; font-family: Arial; letter-spacing: 0px; color: #999; font-size: 8pt; }
#contents dl.gallery dd a:hover { width:94px; height:69px; border: 5px solid #467bbd; float: left;  margin:-5px; }

/* Footer Style */
#footer h3 { float:left; width:102px; height:130px; margin-top: 5px; }
*:first-child+html #footer h3 { float:left; width:102px; height:130px; margin-top: 32px; }
#footer ul { float:left; margin-top:26px; }
#footer li { float:left; margin-right:1px; }
*:first-child+html #footer li { float:left; margin-right:1px; margin-top: 30px; }