@charset "utf-8";
@import "reset.css";

/* Default Style */
body { width:100%; background: url(../images/sub_bg.jpg) repeat-x; height:100%; font: 9pt Dotum; line-height: 17px; color: #777;  }
img { border: 0 none; }
legend, caption { display: none; }
a { text-decoration: none; color:#777; }
a:hover { text-decoration: none; color:#000; }
.c { cursor: pointer; }

/* Layout Style */
#sub_wrap { width:1080px; margin: 0 auto; }
#header { width:1081px; height:78px; margin:0 auto; background: url(../images/header/gnb_bg.jpg) no-repeat; float: left; }
#sub_menu { width:1080px; height:77px; }
#contents { width:1080px; float:left; }
#footer { width:100%; background: url(../images/sub_copy_bg.jpg) repeat-x; height: 122px; clear: both; }

/* Header Style */
#header h1 { width: 190px; height:78px; float: left; }
#header ul { width:891px; height:48px; float: left; margin-top: 36px; }
#header ul li { float: left; margin-right: 1px; }

/* Submenu Style */
#sub_menu .sub01 { background:url(../images/sub01/title_bg.jpg) no-repeat; width:1080px; height:77px; float: left; }
#sub_menu .sub01 a { float: left; margin:28px 0 0 204px; }

#sub_menu .sub02 { background:url(../images/sub02/title_bg.jpg) no-repeat; width:1080px; height:77px; float: left;  }
#sub_menu .sub02 a { float: left; margin:30px 1px 0 0px; }
#sub_menu .sub02 .blank { margin:0 0 0 180px; }

#sub_menu .sub03 { background:url(../images/sub03/title_bg.jpg) no-repeat; width:1080px; height:77px; float: left;  }
#sub_menu .sub03 a { float: left; margin:29px 1px 0 0px; }
#sub_menu .sub03 .blank { margin:0 0 0 272px; }

#sub_menu .sub04 { background:url(../images/sub04/title_bg.jpg) no-repeat; width:1080px; height:77px; float: left;  }
#sub_menu .sub04 a { float: left; margin:29px 1px 0 0px; }
#sub_menu .sub04 .blank { margin:0 0 0 407px; }

#sub_menu .sub05 { background:url(../images/sub05/title_bg.jpg) no-repeat; width:1080px; height:77px; float: left;  }
#sub_menu .sub05 a { float: left; margin:29px 1px 0 0px; }
#sub_menu .sub05 .blank { margin:0 0 0 581px; }

#sub_menu .sub06 { background:url(../images/sub06/title_bg.jpg) no-repeat; width:1080px; height:77px; float: left;  }
#sub_menu .sub06 a { float: left; margin:30px 1px 0 0px; }
#sub_menu .sub06 .blank { margin:0 0 0 670px; }

/* Contents Style */
#contents .sub_navi { width:849px; height:45px;  float:left; }
#contents .sub_title { width:849px; height:78px; float: left; }

#contents .aside { width:231px; height:605px;  float: right;  }
#contents .aside ul { width: 231px; height:219px; margin: 28px 0 20px 0;  }
#contents .aside h3 { width:231px; height:123px; }
#contents .aside p.banner4 { margin-top: 11px; } 

#contents .article { width:849px; height:482px; float: left; }
#contents .article img.gallery { margin-top: 18px; }
#contents .article p.txt01 { margin-top:246px; }
#contents .article p.txt02 { margin:10px 0 0 0; color:#999; }
#contents .article h3 { font-size: 11pt; color: #999; letter-spacing: -1px; margin-top: 20px; }
#contents .article h3 span.view_date { font-weight: normal; font-size: 8pt; letter-spacing: 0px; font-family: Arial; }
#contents .article .blank { border-top: 1px solid #ececec; width: 789px; margin: 20px 0 20px 0; }

#contents .article .page_num { width:789px; height: 26px; float: left; text-align: center; margin-top:20px; border-top:1px solid #ececec; }
#contents .article .page_num a.write { float: left; margin-top: 20px; }
#contents .article .page_num a.write2 { float: left; margin-top: 12px; }
#contents .article .page_num p { margin-top: 20px; width: 727px; float: left; }
#contents .article .page_num p a { font-family: Arial; font-size: 7pt; padding: 2px 5px 2px 5px; }
#contents .article .page_num p a:hover { background:#467bbd; color: #fff; font-weight: bold; padding: 2px 5px 2px 5px; }

#contents .article .page_num p.board a { font-family: Arial; font-size: 9pt; padding: 2px 5px 2px 5px; }
#contents .article .page_num p.board a:hover { background:#45a1d4; color: #fff; font-weight: bold; padding: 2px 5px 2px 5px; }
#contents .article .page_num p.board a.prev2 { background:none; padding:0px; }
#contents .article .page_num p.board a.prev { background:none; padding:0 8px 0 0; }
#contents .article .page_num p.board a.next2 { background:none; padding:0px; }
#contents .article .page_num p.board a.next { background:none; padding:0px; }

#contents .article .search { width:789px; float: left; text-align: center; margin-top: 25px; }
#contents .article .search form { float: left; margin-left: 5px; }
#contents .article .search select { width:95px; border: 1px solid #e5e5e5; height:30px; float: left; margin-left: 210px; }
#contents .article .search input[type=text]{ background:url(../images/sub06/search_bg.jpg) no-repeat; width:205px; height:30px; border:0 none; position: absolute; }
#contents .article .search input[type=image]{ position: relative; left:175px; }

#contents .article dl { width:250px; float: left; margin:18px 0 0 0px;  }
#contents .article dl.second { width:250px; float: left; margin:18px 0 0 20px;  }
#contents .article dl a { color: #999; }
#contents .article dd { text-align: center; font-family: Arial; font-size: 7pt  }
#contents .article dd.title { font-weight: bold; font-family: Dotum,"돋움"; font-size: 9pt; margin-top: 5px; }

/* Footer Style */
#footer .foot_con { background:url(../images/copy_con_bg.jpg) no-repeat; width:1080px; height:122px; margin:0 auto;  }
#footer .foot_con ul { margin:23px 0 0 102px; float: left;}
#footer .foot_con li { float: left; margin-right: 1px; }

/* Table Style */
.gal_table { width:789px; border-top: 1px solid #c1c1c1; }
.gal_table input[type=text], .gal_table input[type=password] { border:1px solid #9a9a9a; height: 20px; }
.gal_table td { height:33px; vertical-align: middle; border-bottom: 1px solid #e1e1e1; padding-left: 8px;  } 
.gal_table td.title { width:175px; height:33px; background: #f7f7f7; border-bottom: 1px solid #e1e1e1; padding-left: 15px;  } 

.board_table { width:789px; margin-top:20px; color: #767676; }
.board_table td.num { width:52px; text-align: center; border-bottom: 1px dotted #d8d8d8;  vertical-align: middle; padding-bottom: 5px; }
.board_table td.subject { width:381px; text-align: left; border-bottom: 1px dotted #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.name { width:97px; text-align: center; border-bottom: 1px dotted #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.date { width:100px; text-align: center; border-bottom: 1px dotted #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.hit { width:64px; text-align: center; border-bottom: 1px dotted #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.condi { width:95px; text-align: center; border-bottom: 1px dotted #d8d8d8;  vertical-align: middle; padding-bottom: 5px; }

.board_table td.num2 { width:52px; text-align: center; border-bottom: 2px solid #d8d8d8;  vertical-align: middle; padding-bottom: 5px; }
.board_table td.subject2 { width:381px; text-align: left; border-bottom: 2px solid #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.name2 { width:97px; text-align: center; border-bottom: 2px solid #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.date2 { width:100px; text-align: center; border-bottom: 2px solid #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.hit2 { width:64px; text-align: center; border-bottom: 2px solid #d8d8d8;  vertical-align: middle; padding-bottom: 5px;  }
.board_table td.condi2 { width:95px; text-align: center; border-bottom: 2px solid #d8d8d8;  vertical-align: middle; padding-bottom: 5px; }
