@charset "utf-8";

/* GCP WD_WP Team. Author : Lee Myeongjong 2018-02-27. Edit : Lee Myeongjong 2018-03-06 */
html	{overflow-x:hidden;-webkit-text-size-adjust:none;font-size:10px;}
body	{font-family:'나눔바른고딕', NanumBarunGothic, 'ng', '애플고딕', AppleGothic, '맑은 고딕', Malgun Gothic, '돋움', dotum, '굴림체', GulimChe, Arial, Verdana, sans-serif;background: #1d1d1d}
*	{margin:0;padding:0;list-style:none;border:0;}
*:lang(ja) {font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','Osaka','ＭＳ Ｐゴシック','MS PGothic',Arial,sans-serif;}
*:lang(zh-hans), *:lang(zh-hant) {font-family:Times New Roman;}
button	{cursor:pointer;background:none;vertical-align:top;font-family:'나눔바른고딕', NanumBarunGothic, 'ng', '애플고딕', AppleGothic, '맑은 고딕', Malgun Gothic, '돋움', dotum, '굴림체', GulimChe, Arial, Verdana, sans-serif}
img	{vertical-align:top;}
a	{text-decoration:none;}
input[type="text"] {font-family:'나눔바른고딕', NanumBarunGothic, 'ng', '애플고딕', AppleGothic, '맑은 고딕', Malgun Gothic, '돋움', dotum, '굴림체', GulimChe, Arial, Verdana, sans-serif}
*:lang(ja) input[type="text"] {font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','Osaka','ＭＳ Ｐゴシック','MS PGothic',Arial,sans-serif;}
*:lang(zh-hans) input[type="text"], *:lang(zh-hant) input[type="text"] {font-family:'Times New Roman';}
.tb {width: 100%; height: 100%; display: table}
.tbc {display: table-cell; vertical-align: middle}
%bg {background: rgba(0, 0, 0, .3)}
%ab {position: absolute}
%fx {position: fixed}
.check {position: relative; line-height: 49px; color: #fff;
	&.pop, &.pop:nth-of-type(2), &.pop:nth-of-type(3),
	&.pop:nth-of-type(4) {top: 37px; left: 28px; @extend %ab;
		label, input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_check_off2.png) no-repeat; width: 48px; height: 48px}
		input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_check_on2.png) no-repeat; width: 48px; height: 48px}
	}
	&.pop:nth-of-type(2) {top: 130px; left: 562px}
	&.pop:nth-of-type(3) {top: 336px; left: 562px}
	&.pop:nth-of-type(4) {top: 540px; left: 562px}
	&.agree {top: 61.5%; @extend %ab; left: 19.6%}
	> input { border: 0; border-radius: 0; visibility: hidden; position: absolute; left: 0; top: 0; z-index: 1}
	label, input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_check_off.png) no-repeat; top: 0; left: 0; z-index: 2; display: inline-block; position: relative; padding-left: 62px; background-size: 42px 42px; cursor: pointer; color: #838383; font-size: 2.2rem}
	input:checked + label {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_check_on.png) no-repeat; background-size: 42px 42px}
}

@mixin trs($start, $ease){
	transition: all $start $ease;
	-webkit-transition: all $start $ease;
	-moz-transition: all $start $ease;
	-o-transition: all $start $ease;
}

#ui_180219 {width:100%;min-width: 640px;position:relative;font-size:20px;line-height: 120%;text-align:center;max-width:2000px; margin: 0 auto;
	.shadow_bg {@extend %fx; background: rgba(0, 0, 0, .7); top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; display: none; z-index: 30;
		&.on {display: block}
	}
	.box_wrap {position: relative; width: 1000px; margin: 0 auto; height: 100%}
	.header {@extend %fx; left:0;top:0; z-index: 25; width: 100%;height: 78px; background: rgba(1, 65, 133, .55); border-bottom: 3px solid #fff;
		.btn_gnb {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_menu.png) no-repeat; background-size: cover; width: 72px; height: 40px;  top:50%; left: 3%; margin-top: -20px}
		.btn_login {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_top_login.png) no-repeat; background-size: cover; width: 192px; height: 82px;  top:50%; right: 3%; margin-top: -41px; color: #fff}
	}
	.lnb {@extend %fx; width: 636px; height: 100%; top: 0; bottom: 0; background: #fff; left: -636px; z-index: 50; @include trs(.5s, ease); overflow-y: auto;
		.contents {position: relative; min-height: 1228px; height: 100%; overflow-x: hidden}
		h1 {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/m_gnb_logo.png) no-repeat; background-size: cover; width: 512px; height: 182px; margin: 0 auto; position: relative; top: 74px}
		.btn_lnb_close {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_navi_close.png) no-repeat; background-size: cover; width: 36px; height: 36px; @extend %ab; top: 34px; right: 54px}
		.lnb_menu {width: 510px; @extend %ab; top: 124px; left: 50%; margin-left: -255px;   text-transform: uppercase; text-align: left;
			> li {width: 100%; height: 70px; position: relative; font-size: 4rem; margin-top: 30px; display: table;
				&:first-child {margin-top: 0}
				a {display: table-cell; width: 100%; color: #000; height: 100%; vertical-align: middle}
				&.ic_new {
					&::after {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_new.png) no-repeat; background-size: cover; width: 52px; height: 16px; right: 0; top: 50%; margin-top:-8px; content: ''}
				}
				&.ic_soon {
					&::after {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_soon.png) no-repeat; background-size: cover; width: 128px; height: 64px; right: 0; top: 50%; margin-top:-32px; content: ''}
				}
			}
		}
		.btn_down_mlb, .btn_down_fb {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_base.png) no-repeat; background-size: cover; width: 482px; height: 88px; left: 50%; margin-left: -241px; top:640px; font-size: 2.4rem; font-weight: bold; color: #192026; text-align: left;
			.tb {padding-left: 26.6%}
			&::after {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_arrow.png) no-repeat; background-size: cover; width: 8px; height: 14px; right: 6%; top: 50%; margin-top:-7px; content: ''}
		}
		.btn_down_fb {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_fb.png) no-repeat; background-size: cover; top: 736px}
		.btm_area {@extend %ab; bottom: 0; width: 100%; height: 322px; background: #eaebeb;
			.btm_pack {@extend %ab; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/en_pack.png) no-repeat; background-size: cover; width: 138px; height: 234px; left: 16.4%; top: 8%}
			.btm_txt {@extend %ab; font-size: 2.2rem; color: #192026; font-weight: bold; line-height: 120%; text-align: left; left: 48%; height: 80%}
			.btn_fb {margin-top: 20px; display: block}
			.lnb_foot {background: #d7d9d9; @extend %ab; bottom: 0; height: 60px; left: 0; right: 0; font-size: 2.2rem; color: #192026}
			.fb_num {@extend %ab; top:71.4%; left: 30.5%; color: #4267b2; font-size: 2.2rem; font-weight: bold}
		}
	}
	.main_video {@extend %fx; width: 2000px; height: 1274px; top: 0; left: 50%; margin-left: -1000px;
		iframe {width: 100%; height: 100%}
	}
	.notice, .notice_2, .notice_3 {color: #838383; text-align: left; position: relative; top:55.8%;
		dt {font-weight: bold; margin-bottom: 0.8%; font-size: 2.4rem}
		> dd {position: relative; padding-left: 2%;
			&::before {content: '1.'; line-height: 130%; position: absolute; left: 0; top: 0}
			&:nth-child(3)::before {content: '2.'}
			&:nth-child(4)::before {content: '3.'}
			&:nth-child(5)::before {content: '4.'}
			&:nth-child(6)::before {content: '5.'}
			&:nth-child(7)::before {content: '6.'}
			a {color: #838383; text-decoration: none}
		}
	}
	.section {position: relative; z-index: 20;
		&.section_1 {width: 100%; height: 1200px;
			.main_bg {top: 0; bottom: 0; left: 0; right: 0; opacity: 0; @include trs(.5s, ease); height: 100%;
				&.on {opacity: 1}
				&:before {content:''; @extend %ab; left:0; top:0; width: 2000px; height: 1200px; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/bg_pts.png) no-repeat 0 0; background-size: cover}
				.intro_area {opacity: 0; @include trs(.3s, ease-in);
					&.on {opacity: 1}
					img {@extend %ab; z-index: 10}
					.top_logo {top: 50%; left: 50%; margin:-498px 0 0 -1000px;}
				}
			}
		}
		&.section_2 {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/en_1.png) no-repeat center 0; width: 100%; height: 1575px; background-size: cover;
			.section2_tit {position: relative; top: 11%; font-size: 2.8rem; font-weight: bold; color: #192026}
			.pack_tit, .pack_tit_2{@extend %ab; font-size: 2.4rem; color: #073175; font-weight: bold; line-height: 120%; top: 16.7%; left: 6%}
			.pack_tit_2 {left: 44.6%; width: 53%}
			.pack_cnt {@extend %ab; color: #fff; font-size: 2.6rem; font-weight: bold; text-shadow: 3px 3px 5px #000; line-height: 120%; top: 45.4%;left: 8%;width: 22%;height: 9.2%;}
			.pack_list {@extend %ab; color: #fff; font-size: 2.2rem; line-height: 120%;     top: 23.2%;left: 44.6%;width: 53%;height: 28.5%;
				> li {@extend %ab; width: 49%; height: 49%;
					&:nth-child(2) {left: 51%}
					&:nth-child(3) {top:51%}
					&:nth-child(4) {top:51%; left: 51%}
					.p_tit {@extend %ab; display: table; width: 100%; bottom: 0; height: 33.1%}
				}
			}
			.agree_area {width: 100%; height: 195px; top:838px; position: relative;
				.btn_regi {@extend %ab; top: 17.6%; right: 5%; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_regi.png) no-repeat; background-size: cover; width: 238px; height: 126px; font-size: 2.6rem; color: #000; font-weight: bold}
				.input_basic {    width: 508px;height: 64px;top: 36px;left: 19.7%; @extend %ab}
				.phone_tit {@extend %ab; top: 20.5%; left: 5.2%; cursor: pointer; font-size: 3rem; font-weight: bold; text-align: left; color: #fff; line-height: 100%;
					.agree_hlt {font-size: 2.2rem; font-weight: normal; color: #838383}
				}
			}
		}
		&.section_3 {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/en_2.png) no-repeat center 0; height: 2571px; background-size: cover;
			.section3_tit {position: relative; top: 7%; font-size: 2.8rem; font-weight: bold; color: #192026; line-height: 120%}
			.bb_tit {@extend %ab; top: 11%;color: #0090ff;font-size: 2.8rem;font-weight: bold;text-shadow: 3px 3px 5px #000;left: 9%;width: 82.2%;height: 2%;}
			.mis_bar {@extend %ab; top: 13.9%; left: 19.4%; right: 17.9%; height: 3.1%;
				span {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/bg_gage.png) no-repeat; background-size: auto 100%; display: block; height: 100%;
					&.bar_0 {width: 0}
					&.bar_1 {width: 13%}
					&.bar_2 {width: 34%}
					&.bar_3 {width: 50%}
					&.bar_4 {width: 70%}
					&.bar_5 {width: 85%}
					&.bar_6 {width: 100%}
				}
			}
			.pack_list_2 {@extend %ab; color: #fff; font-size: 2.2rem; line-height: 120%; top: 17.9%;left: 8.6%;width: 82.2%;height: 8.6%;
				> li {@extend %ab; width: 31.7%;height: 100%;
					&:nth-child(2) {left: 34.2%}
					&:nth-child(3) {left: 68.6%}
					.p_tit {@extend %ab; display: table; width: 100%; bottom: 0; height: 36%}
				}
			}
			.btn_start {position: relative; top: 640px; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_start.png) no-repeat; background-size: cover; width: 460px; height: 136px; color: #1d2129; font-size: 3rem; font-weight: bold}
			.playable {width: 720px;height: 1280px;position: relative;top: 678px;margin-left:143px; background: #000}
			.notice_2 {color: #bebcab; top:86.2%; @extend %ab;
				> dd {
					a {color: #bebcab}
				}
			}
		}
		&.section_4 {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/en_3.png) no-repeat center 0; height: 1307px; background-size: cover;
			.section4_tit {position: relative; top: 11.3%; font-size: 2.8rem; font-weight: bold; color: #192026; line-height: 120%}
			.frd_invite {@extend %ab; top: 20.6%;font-size: 3rem;color: #141719;font-weight: bold;line-height: 110%;left: 44.5%;width: 42.5%;height: 9.6%;}
			.agree_area {width: 100%;     height: 195px;top: 588px;position: relative;
				.phone_tit {@extend %ab; font-size: 3rem; font-weight: bold; color: #fff; text-shadow: 3px 3px 5px #000; left: 5.6%;top: 18%;}
				.input_basic {@extend %ab;         width: 612px;height: 64px;top: 86px;left: 7.5%;text-align: left;}
				.btn_copy {@extend %ab; top: 18%; right: 4%; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_regi.png) no-repeat; background-size: cover; width: 238px; height: 126px; font-size: 2.6rem; color: #000; font-weight: bold}
			}
			.notice_3 {@extend %ab; top: 71.5%; color: #797581;}
		}
		&.section_5 {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/en_4.png) no-repeat center 0; height: 1248px; background-size: cover;
			.swiper-container {@extend %ab; width: 100%; top: 14.5%;
				.swiper-slide {background-size: cover;width: 954px;height: 804px;
					&:after {content: ''; background: rgba(0, 0, 0, .6); @extend %ab; width: 936px;height: 786px;top: 4px;left: 9px}
					&.first {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/img_slider_1.png) no-repeat 0 0; background-size: cover}
					&.second {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/img_slider_1.png) no-repeat 0 0; background-size: cover}
					&.third {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/img_slider_1.png) no-repeat 0 0; background-size: cover}
					&.swiper-slide-active {height: 804px;
						&:after {background: none; @include trs(.2s, ease-In)}
					}
				}
				.s_tit, .s_cnt {@extend %ab; color: #fff; font-size: 3.8rem; font-weight: bold; left: 0; right: 0; line-height: 120%;     height: 14%;}
				.s_cnt {    top: 83%;height: 15.6%; font-size: 3.2rem}
			}
			.swiper-pagination {top: 81%; left: 50%; margin-left: -115px; @extend %ab;
				.swiper-pagination-bullet {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_s_off.png) no-repeat; background-size: cover; width: 54px; height: 22px; margin-left: 13px; opacity: 1; border-radius: 0;
					&:nth-of-type(1) {margin-left: 0}
				}
				.swiper-pagination-bullet-active {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/ico_s_on.png) no-repeat; background-size: cover; width: 102px; height: 22px}
			}
		}
		&.section_6 {background:#1d1d1d; width: 100%; height: 400px; bottom: 0; display: block !important;
			&::after {content: ''; background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/en_5.png) no-repeat; display: block; width: 1000px; height: 400px; margin: 0 auto}
		}
	}
}

.pop_wrap	{width:100%;min-height:100%;z-index:1000;position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.7);
	.pop_layer	{width:610px;height:200px;position:absolute;top:50%;left:50%;z-index:1000;margin:-100px 0 0 -305px;border-radius:14px;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,0.4);box-shadow:5px 5px 10px rgba(0,0,0,0.4);background-color:#fff;}
	.pop_before {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/bg_pop_login.png) no-repeat; width: 640px; height: 604px; @extend %ab; top:50%;left:50%;z-index:1000;margin:-302px 0 0 -320px;
		.login_tit {@extend %ab; font-size: 2.6rem; color: #353535; font-weight: bold; line-height: 120%; left: 0; right: 0; top: 13.9%; text-align: center}
		.input_basic {@extend %ab; top: 34.5%;height: 74px;left: 11%;width: 516px;}
		.btn_pop_login {@extend %ab; top: 51.2%;width: 318px;height: 94px;left: 26.4%; font-size: 2.4rem; font-weight: bold; color: #252526}
		.btn_pop_regi {@extend %ab; top: 81.7%;width: 240px;height: 78px;left: 52.4%; font-size: 2.2rem; color: #fff}
		.login_tip {@extend %ab; text-align: left; color: #252526; font-size: 2.2rem;     left: 12%;top: 76%;height: 24%;}
		.btn_close	{right: 18px; top: 14px; background: none}
	}
	.pop_agree {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/bg_pop_agree.png) no-repeat; width: 640px; height: 846px; @extend %ab; top:50%;left:50%;z-index:1000;margin:-423px 0 0 -302px;
		.agree_1, .agree_2, .agree_3 {@extend %ab; color: #2b2b2b;font-size: 20px;top: 189px;left: 32px;width: 580px;height: 131px;line-height: 22px;
			span {margin: 25px; display: block; height: 81px; overflow-y: auto}
		}
		.agree_2 {top:394px}
		.agree_3 {top:602px}
		.btn_agree_no, .btn_pop_agree {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_agree_no.png) no-repeat; width: 198px; height: 57px; @extend %ab; top:753px; left: 129px}
		.btn_pop_agree {background: url(http://image-glb.qpyou.cn/markup/img/2018/02/mlb918_update/btn_pop_agree.png) no-repeat; left: 340px}
		.btn_close	{right: 10px; top: 4px; background: none}
		.agree_tit, .agree_tit_2, .agree_tit_3, .agree_tit_4 {@extend %ab; font-size: 1.6rem; color: #2b2b2b; top: 4%; line-height: 120%; left: 14%;}
		.agree_tit_2, .agree_tit_3, .agree_tit_4 {top: 16%;font-size: 1.8rem;left: 9%;
			.agree_hlt {color: #cc0000}
		}
		.agree_tit_3 {top:40.6%;}
		.agree_tit_4 {top:65%;}
	}
	.pop_note	{width:100%;height:100%;display:table;
		> span {height:100%;display:table-cell;padding:0 5%;font-size:2.6rem;line-height:115%;color:#000;text-align:center;vertical-align:middle;}
	}
	.btn_dis, .btn_agree {@extend %ab;     top: 89%;width: 198px;height: 57px;left: 17.4%;font-size: 2rem; color: #fff}
	.btn_agree {left: 50%}
	.btn_close	{width:64px;height:64px;display:block;position:absolute;top:0;right:0;overflow:hidden;text-indent:-999px;cursor:pointer;background:url('http://image-glb.qpyou.cn/markup/img/2015/00/btn_close.png') no-repeat 50% 50%;background-size:36px 36px;}
}

/* input Style*/
.input_basic {background: #fff; color: #000; text-align: center; font-size: 20px; box-sizing: border-box; -webkit-box-sizing: border-box}
input[type="text"]::-webkit-input-placeholder {color: #838383}
input[type="text"]::-moz-placeholder {color: #838383}


