@charset "euc-kr";
@import "reset.css";

/* --------------------------------------------------------

  Basic Style Sheet (for Version CSS2 4 browers [IE,FF,CR,OP])
  Version : CSS3
  Author : 이명종
  Email : lmj5@naver.com
  Website : http://127.0.0.1/company/

-------------------------------------------------------- */

/* Default style
-------------------------------------------------------- */
body { background: url(../images/main_bg.jpg) repeat-x; width: 100%; height: 1070px; }
img { border: 0px none; }
ul, li { list-style: none; }
a { color:#5d5d5d; text-decoration: none; }
a:hover { color:#000; text-decoration: none; }

/* Layout style
-------------------------------------------------------- */
#wrap { width:1000px; height: 1070px; margin: 0 auto; padding: 0px; }
header { width:1000px; height: 103px; overflow: hidden;  }
footer { width: 1000px; height:59px; clear: both; overflow: hidden; }

/* Header Style
-------------------------------------------------------- */
header h1 { float: left; } 

/* Container Style
-------------------------------------------------------- */
section#container { width: 1000px; height:670px;  }
section.quick { width: 1000px; height: 238px; clear: both; }
section.quick .quick_bt li { float: left; margin: 75px -300px 0 300px; }

/*

################################### 모바일 웹 따로 제작

@media handheld, only screen and (max-width: 1023px) {
	body {
		header, section, footer {
			width: 90%;
			padding-left: 5%;
			padding-right: 5%;
		}
	}
}

@media handheld, only screen and (max-width: 426px){

#wrap { width: 100%; } 

body { margin: 0 auto; padding: 0px; background:url(../images/mobile_bg.jpg) repeat-x; width: 426px; height: 2500px; }
header { width: 426px; }
header p { display: none;  }
header h1 { margin-left: 25%; }

section#container { background: url(../images/phone_about2.jpg) no-repeat; width: 426px; height: 2100px;   }
section#container ul { display: none; }
section.quick { width: 426px; }
section.quick .quick_bt li { float: left; margin: 50px -20px 0 20px; }

footer img { display: none; }
footer { background: url(../images/mobile_foot_2.jpg) no-repeat; width: 426px; height:59px; float: none; margin-top: 0px;  }

*/